QCDQ_汽车电器/Code/UseWebService/UseWebService/Web References/WebServiceQCDQ/DBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sRdrecord09_Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWhCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRdCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDepCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCreater" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sInvCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBatch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sQty" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sRdrecord09_SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sRdrecord09_SaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sRdrecord10_Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWOCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sZJCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWhCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRdCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDepCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCreater" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sInvCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBatch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sQty" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sRdrecord10_SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sRdrecord10_SaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sRdrecord01_Audit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sAuditer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sRdrecord01_AuditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sRdrecord01_AuditResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="sRdrecord09_SaveSoapIn">
    <wsdl:part name="parameters" element="tns:sRdrecord09_Save" />
  </wsdl:message>
  <wsdl:message name="sRdrecord09_SaveSoapOut">
    <wsdl:part name="parameters" element="tns:sRdrecord09_SaveResponse" />
  </wsdl:message>
  <wsdl:message name="sRdrecord10_SaveSoapIn">
    <wsdl:part name="parameters" element="tns:sRdrecord10_Save" />
  </wsdl:message>
  <wsdl:message name="sRdrecord10_SaveSoapOut">
    <wsdl:part name="parameters" element="tns:sRdrecord10_SaveResponse" />
  </wsdl:message>
  <wsdl:message name="sRdrecord01_AuditSoapIn">
    <wsdl:part name="parameters" element="tns:sRdrecord01_Audit" />
  </wsdl:message>
  <wsdl:message name="sRdrecord01_AuditSoapOut">
    <wsdl:part name="parameters" element="tns:sRdrecord01_AuditResponse" />
  </wsdl:message>
  <wsdl:portType name="DBWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sRdrecord09_Save">
      <wsdl:input message="tns:sRdrecord09_SaveSoapIn" />
      <wsdl:output message="tns:sRdrecord09_SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sRdrecord10_Save">
      <wsdl:input message="tns:sRdrecord10_SaveSoapIn" />
      <wsdl:output message="tns:sRdrecord10_SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sRdrecord01_Audit">
      <wsdl:input message="tns:sRdrecord01_AuditSoapIn" />
      <wsdl:output message="tns:sRdrecord01_AuditSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DBWebServiceSoap" type="tns:DBWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sRdrecord09_Save">
      <soap:operation soapAction="http://tempuri.org/sRdrecord09_Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sRdrecord10_Save">
      <soap:operation soapAction="http://tempuri.org/sRdrecord10_Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sRdrecord01_Audit">
      <soap:operation soapAction="http://tempuri.org/sRdrecord01_Audit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DBWebServiceSoap12" type="tns:DBWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sRdrecord09_Save">
      <soap12:operation soapAction="http://tempuri.org/sRdrecord09_Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sRdrecord10_Save">
      <soap12:operation soapAction="http://tempuri.org/sRdrecord10_Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sRdrecord01_Audit">
      <soap12:operation soapAction="http://tempuri.org/sRdrecord01_Audit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBWebService">
    <wsdl:port name="DBWebServiceSoap" binding="tns:DBWebServiceSoap">
      <soap:address location="http://127.0.0.1/webQCDQ/DBService.asmx" />
    </wsdl:port>
    <wsdl:port name="DBWebServiceSoap12" binding="tns:DBWebServiceSoap12">
      <soap12:address location="http://127.0.0.1/webQCDQ/DBService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>