YappyGlobal/Code/UserWebService/Test/Web References/WebReference/DBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateSO_ScanStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSOCodeStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSO_ScanStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSO_ScanStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePO_ScanStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sPOCodeStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePO_ScanStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePO_ScanStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add_DispatchList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add_DispatchListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Add_DispatchListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add_Rdrecord01">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add_Rdrecord01Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Add_Rdrecord01Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateSO_ScanStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSO_ScanStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateSO_ScanStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSO_ScanStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePO_ScanStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePO_ScanStatus" />
  </wsdl:message>
  <wsdl:message name="UpdatePO_ScanStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePO_ScanStatusResponse" />
  </wsdl:message>
  <wsdl:message name="Add_DispatchListSoapIn">
    <wsdl:part name="parameters" element="tns:Add_DispatchList" />
  </wsdl:message>
  <wsdl:message name="Add_DispatchListSoapOut">
    <wsdl:part name="parameters" element="tns:Add_DispatchListResponse" />
  </wsdl:message>
  <wsdl:message name="Add_Rdrecord01SoapIn">
    <wsdl:part name="parameters" element="tns:Add_Rdrecord01" />
  </wsdl:message>
  <wsdl:message name="Add_Rdrecord01SoapOut">
    <wsdl:part name="parameters" element="tns:Add_Rdrecord01Response" />
  </wsdl:message>
  <wsdl:portType name="DBWebServiceSoap">
    <wsdl:operation name="UpdateSO_ScanStatus">
      <wsdl:input message="tns:UpdateSO_ScanStatusSoapIn" />
      <wsdl:output message="tns:UpdateSO_ScanStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePO_ScanStatus">
      <wsdl:input message="tns:UpdatePO_ScanStatusSoapIn" />
      <wsdl:output message="tns:UpdatePO_ScanStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add_DispatchList">
      <wsdl:input message="tns:Add_DispatchListSoapIn" />
      <wsdl:output message="tns:Add_DispatchListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add_Rdrecord01">
      <wsdl:input message="tns:Add_Rdrecord01SoapIn" />
      <wsdl:output message="tns:Add_Rdrecord01SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DBWebServiceSoap" type="tns:DBWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateSO_ScanStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateSO_ScanStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePO_ScanStatus">
      <soap:operation soapAction="http://tempuri.org/UpdatePO_ScanStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_DispatchList">
      <soap:operation soapAction="http://tempuri.org/Add_DispatchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_Rdrecord01">
      <soap:operation soapAction="http://tempuri.org/Add_Rdrecord01" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DBWebServiceSoap12" type="tns:DBWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateSO_ScanStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateSO_ScanStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePO_ScanStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdatePO_ScanStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_DispatchList">
      <soap12:operation soapAction="http://tempuri.org/Add_DispatchList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_Rdrecord01">
      <soap12:operation soapAction="http://tempuri.org/Add_Rdrecord01" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBWebService">
    <wsdl:port name="DBWebServiceSoap" binding="tns:DBWebServiceSoap">
      <soap:address location="http://127.0.0.1/DBService.asmx" />
    </wsdl:port>
    <wsdl:port name="DBWebServiceSoap12" binding="tns:DBWebServiceSoap12">
      <soap12:address location="http://127.0.0.1/DBService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>