JSL_九色鹿/Code/CY/CYCode/85_成衣生产/Web References/WebReference/DBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="dtFileV">
        <s:complexType />
      </s:element>
      <s:element name="dtFileVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtFileVResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dtDownFileVer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dtDownFileVerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtDownFileVerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFolder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sDelFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sDelFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sDelFolderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFolderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilesName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilesNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFilesNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="dtFileVSoapIn">
    <wsdl:part name="parameters" element="tns:dtFileV" />
  </wsdl:message>
  <wsdl:message name="dtFileVSoapOut">
    <wsdl:part name="parameters" element="tns:dtFileVResponse" />
  </wsdl:message>
  <wsdl:message name="dtDownFileVerSoapIn">
    <wsdl:part name="parameters" element="tns:dtDownFileVer" />
  </wsdl:message>
  <wsdl:message name="dtDownFileVerSoapOut">
    <wsdl:part name="parameters" element="tns:dtDownFileVerResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="sDelFolderSoapIn">
    <wsdl:part name="parameters" element="tns:sDelFolder" />
  </wsdl:message>
  <wsdl:message name="sDelFolderSoapOut">
    <wsdl:part name="parameters" element="tns:sDelFolderResponse" />
  </wsdl:message>
  <wsdl:message name="sFolderSoapIn">
    <wsdl:part name="parameters" element="tns:sFolder" />
  </wsdl:message>
  <wsdl:message name="sFolderSoapOut">
    <wsdl:part name="parameters" element="tns:sFolderResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetFilesNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetFilesName" />
  </wsdl:message>
  <wsdl:message name="GetFilesNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetFilesNameResponse" />
  </wsdl:message>
  <wsdl:portType name="DBWebServiceSoap">
    <wsdl:operation name="dtFileV">
      <wsdl:input message="tns:dtFileVSoapIn" />
      <wsdl:output message="tns:dtFileVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dtDownFileVer">
      <wsdl:input message="tns:dtDownFileVerSoapIn" />
      <wsdl:output message="tns:dtDownFileVerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sDelFolder">
      <wsdl:input message="tns:sDelFolderSoapIn" />
      <wsdl:output message="tns:sDelFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sFolder">
      <wsdl:input message="tns:sFolderSoapIn" />
      <wsdl:output message="tns:sFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input message="tns:DownloadFileSoapIn" />
      <wsdl:output message="tns:DownloadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesName">
      <wsdl:input message="tns:GetFilesNameSoapIn" />
      <wsdl:output message="tns:GetFilesNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DBWebServiceSoap" type="tns:DBWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dtFileV">
      <soap:operation soapAction="http://tempuri.org/dtFileV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dtDownFileVer">
      <soap:operation soapAction="http://tempuri.org/dtDownFileVer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sDelFolder">
      <soap:operation soapAction="http://tempuri.org/sDelFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sFolder">
      <soap:operation soapAction="http://tempuri.org/sFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesName">
      <soap:operation soapAction="http://tempuri.org/GetFilesName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DBWebServiceSoap12" type="tns:DBWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dtFileV">
      <soap12:operation soapAction="http://tempuri.org/dtFileV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dtDownFileVer">
      <soap12:operation soapAction="http://tempuri.org/dtDownFileVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sDelFolder">
      <soap12:operation soapAction="http://tempuri.org/sDelFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sFolder">
      <soap12:operation soapAction="http://tempuri.org/sFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesName">
      <soap12:operation soapAction="http://tempuri.org/GetFilesName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBWebService">
    <wsdl:port name="DBWebServiceSoap" binding="tns:DBWebServiceSoap">
      <soap:address location="http://zhiyifang.ticp.net:18080/DBService.asmx" />
    </wsdl:port>
    <wsdl:port name="DBWebServiceSoap12" binding="tns:DBWebServiceSoap12">
      <soap12:address location="http://zhiyifang.ticp.net:18080/DBService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>